<div class="modal-header">
  <h4 class="modal-title centered"> {{ title }} </h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  DECLARO BAJO JURAMENTO, que los datos consignados en la presente solicitud responden a la verdad. En caso de resultar
  falsa la información que proporciono, me sujeto a los alcances de lo establecido en el artículo 411 del Código Penal
  concordante con el artículo 34.3 del Texto Único Ordenado de la Ley N° 27444, Ley del Procedimiento Administrativo
  General.
  Asimismo como administrado/a, ACEPTO que:
  Los/las administrados/as verifican que los documentos e información presentada se encuentren de acuerdo a los
  requisitos señalados en el procedimiento administrativo, servicios o solicitudes, así como, estén conforme a lo
  indicado en el artículo 124 del TUO de la Ley N° 27444, y en el marco de las disposiciones internas vigentes.
  Asimismo, se encuentren debidamente registrados en la Plataforma Cero Papel, procediendo luego a envíar el
  formulario/solicitud correspondiente.
  Para el ingreso de documentos a través de la Plataforma Cero Papel previamente el/la administrado/a debe digitalizar,
  de manera completa y legible, la documentación que desee ingresar por dicha Plataforma incluyendo aquellos que sean
  requisitos indispensables para su presentación (peso estandarizado por cada documento como máximo de…….. MB).
  La Plataforma Virtual de Atención a la Ciudadanía del Ministerio del Ambiente, está habilitada las veinticuatro (24)
  horas del día, durante siete (7) días de la semana. Sin embargo, la recepción de los documentos se efectúa luego de la
  validación del cumplimiento de los requisitos establecidos en el TUO de la Ley N° 27444 y el Texto Único de
  Procedimientos Administrativos del Ministerio del Ambiente (en adelante, TUPA), de corresponder, de acuerdo con el
  horario de Mesa de Partes Presencial del Ministerio del Ambiente (lunes a viernes de 08:30 a.m. a 04:30 p.m.).
  En cumplimiento de lo dispuesto en la Ley N° 29733, Ley de Protección de Datos Personales, desde el momento de su
  ingreso y/o utilización de la Plataforma Cero Papel, los/las administrados/as dan expresamente su
  consentimiento para el tratamiento de los datos personales que por ellos sean facilitados o que se faciliten a través
  de dicha plataforma
  <div class="modal-footer centeredBot">
    <button type="button" class="btn btn-success " (click)="modalRef.hide()">OK</button>
  </div>
</div>
