.centered {
  display: table-cell;
  height: 20px;
  width: 600px;
  text-align: center;
  vertical-align: middle;
}

.centeredBot {
  display: table-cell;
  height: 60px;
  width: 600px;
  text-align: center;
  vertical-align: middle;
}

.modal-body {
  height: 500px;
  width: 100%;
  overflow-y: auto;
}
.modal.fade {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
