.table-borderless {
  font-size: 14px;
}


.colorPrincipal {
  color: #005286;
  font-family: 'Roboto', sans-serif;
  font-family: 'Varela Round', sans-serif;

}

.btn-primary {
  background-color: #005286;
  border: none;
}

.principal {
  line-height: 45px;
  font-weight: 900;
  font-size: 50px;
}

table>thead>tr>th {
  font-size: 15px;
  background: #005286;
  color: #fff;
  font-family: 'Varela Round', sans-serif;
  padding: 5px;

}


table thead th tr {
  vertical-align: middle;
}

th,
td {
  text-align: center;
  vertical-align: middle;
}

.table>tbody>tr>td {
  vertical-align: middle;
}


.cuerpo {
  background: #ffffff;
  border-radius: 15px;
}


.cuerpo {
  background: #ffffff;
  border-radius: 15px;
}
