<div class="container-fluid">

  <div class="row">
    <div *ngIf="authService.isAuthenticated()" class="barra-lateral col-12 col-sm-auto">
      <div class="logo">
        <h2>Trámite Cero Papel</h2>
      </div>
      <nav class="menu d-flex d-sm-block justify-content-center flex-wrap ">
        <a *ngIf="!authService.hasTipoLDAP()" [routerLink]="['/bandejaElectronica']">
          <fa-icon [icon]="faArchive" size="sm"> </fa-icon><span>Bandeja Electrónica</span>
        </a>
        <a *ngIf="!authService.hasTipoLDAP()" [routerLink]="['/registroExpediente']">
          <fa-icon [icon]="faEdit" size="sm"></fa-icon><span>Registro de documentos</span>
        </a>

        <a *ngIf="!authService.hasTipoLDAP()" [routerLink]="['/casillaElectronica']">
          <fa-icon [icon]="faBoxOpen" size="sm"></fa-icon><span>Casilla Electrónica</span>
        </a>
        <a *ngIf="!authService.hasTipoLDAP() && authService.hasRUC()" [routerLink]="['/perfil']">
          <fa-icon [icon]="faAddressBook" size="sm"></fa-icon><span>Perfil</span>
        </a>
        <a *ngIf="authService.hasTipoLDAP()" [routerLink]="['/reporte']">
          <fa-icon [icon]="faFilePdf" size="sm"></fa-icon><span>Reporte</span>
        </a>
      </nav>
    </div>

    <main class="main col pt-0 pl-0">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white;">Cargando...</p>
</ngx-spinner>
