.barra-lateral {
  background: #005286;
  color: #fff;
  min-width: 300px;
  min-height: 100vh;
  padding: 0;
}

.barra-lateral a {
  color: #fff;
}

/* --- LOGO --- */
.barra-lateral .logo {
  background: #005286;
  margin-bottom: 2px;
}

.barra-lateral .logo h2 {
  font-size: 34px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  padding: 20px 0;
  text-align: center;
  font-weight: 300;
  margin: 0;
}

/* --- MENU --- */
.barra-lateral .menu a {
  display: block;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.barra-lateral .menu a:hover {
  background: #0080b5;
  text-decoration: none;
}

.barra-lateral .menu a fa-icon {
  margin-right: 20px;
  font-weight: normal;
}



/* --- --- MEDIAQUERIES --- --- */
@media screen and (max-width: 1300px) {
  .barra-lateral {
    min-width: auto;
  }

  .barra-lateral .logo {
    display: none;
  }

  .barra-lateral .menu a span {
    display: none;
  }

  .barra-lateral .menu a fa-icon {
    margin: 0;
  }
}

@media screen and (max-width: 575px) {
  .barra-lateral {
    min-height: auto;
  }

  .barra-lateral .menu a {
    display: inline-block;
    border-bottom: none;
  }

  .main .widget form button {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .main .comentarios .comentario .foto {
    width: 30px;
    height: 30px;
  }

  .main .comentarios .comentario .botones button {
    width: 100%;
  }
}

/* --- --- MAIN --- --- */
.main {
  padding-top: 40px;
}

.main .columna {
  padding-left: 40px;
  padding-right: 40px;
}

.main .titulo {
  color: #262a34;
  font-size: 25px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
}

.main .widget {
  margin-bottom: 40px;
}
