/* You can add global styles to this file, and also import other style files */

html,

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-family: 'Varela Round', sans-serif;
}

.colorPrincipal {
  color: #005286;
}

.cuerpo {
  background: #ffffff;
  border-radius: 15px;
}

.btn-primary {
  background-color: #005286;
  border: none;
}
